.PersonalInformationsStep {
  width: 700px;
  max-width: 100%;
  padding: 0 20px;
  margin: auto;

  input {
    height: 50px;
    border: 0;
    border-radius: 5px;
    padding: 0 15px;
    width: 100%;
  }
}

.legal {
  font-size: 14px;
}
