# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Analytics
GTM_ID=

# Locale
LOCALE=true

# Session token secret
SESSION_TOKEN_SECRET=

# API
API_URL=
API_KEY=
# Mail (Mailjet)
MAILJET_API_KEY=
MAILJET_PASSWORD=
